# Configurações do Banco
DB_NAME=pitflow_os
DB_USER=pitflow
DB_PASSWORD=<dummy-db-password>

# Segurança
JWT_SECRET=<dummy-token-secret-1234566>

# URL
API_URL=http://localhost:8080/external/events/service-orders/decision
