# Configurações do Banco
DB_NAME=pitflow_os
DB_USER=pitflow
DB_PASSWORD=<dummy-db-password>

# Segurança
JWT_SECRET=<dummy-token-secret-1234566>

# URL
API_URL=http://localhost:8080

# App password
MAIL_USERNAME=validEmailToNotification@gmail.com
MAIL_PASSWORD=<password code to application>

# Habilitar Mock para envio de mensagem (Email)
MOCK_MESSAGE=false
