<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Lê valores do Spring -->
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="pitflow-os-backend"/>

    <!-- Appender em JSON -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"service":"${appName}"}
            </customFields>

            <!-- Inclui dados úteis no log -->
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <arguments/>
                <mdc/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- Nível padrão -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>